In [1]:
import pandas as pd
from os import listdir
import uuid
from datetime import date
import datetime
import numpy as np
import re

import warnings
warnings.filterwarnings("ignore")

## functions

In [2]:
def load_africa_data():
    africa = pd.read_excel('/Users/cblanesg/cam.blanes Dropbox/Camila Blanes/Bolivia_Project/data/04-fakenews-Repository/06-virality/africa/input_panel_africa.xlsx')
    links = pd.read_excel('/Users/cblanesg/cam.blanes Dropbox/Camila Blanes/Bolivia_Project/data/04-fakenews-Repository/06-virality/africa/fact_checks/fact_checks_clean.xlsx')[['Link', 
'id_desinformacion']].drop_duplicates().rename(columns = {'Link':'link_desinformacion'})
    all_data = pd.merge(left = africa, 
            right = links, 
            on = 'id_desinformacion', 
            how = 'left')
    return(all_data)

def load_factchecks():
    factchecks = pd.read_excel('/Users/cblanesg/misinformation_socialmedia/data/1-factchecks/2-clean_factchecks/data_factchecks.xlsx').drop('Unnamed: 0', axis = 1)
    return(factchecks)

def load_misinformation_newspapers():
    path = '/Users/cblanesg/cam.blanes Dropbox/Camila Blanes/Bolivia_Project/data/04-fakenews-Repository/04-fake_news_dataset/newspapers/Fact-Checkers/'
    data = []
    for i in listdir(path):
        try:
            data.append(pd.read_excel(path + i))
        except:
            pass
        
    misinformation = pd.concat(data)
    misinformation = misinformation[[ 'id_desinformacion', 'fecha_desinformacion', 
               'link_desinformacion',  'label_desinformacion']].drop_duplicates()
    
    ## include africa
    africa = load_africa_data()
    africa['fecha_desinformacion'] = None
    africa = africa[list(misinformation.columns)]
    
    all_data = pd.concat([misinformation, africa])
    all_data = all_data[~all_data['link_desinformacion'].isna()]
    
    factchecks = load_factchecks()
    
    all_data = pd.merge(left = all_data, 
            right = factchecks, 
            on = 'id_desinformacion', 
            how = 'left')
    
    all_data = all_data[['organizacion', 'pais', 'link_chequeo', 'id_factcheck','id_desinformacion',
                         'titulo_chequeo', 'facebook_partnership_date', 'facebook_partnership', 
                         'link_post_factcheck', 'date_factcheck_facebook', 'fecha_chequeo',
                        'label_desinformacion', 
                        'link_desinformacion', 
                         'fecha_desinformacion', 
                        ]]
    
    return(all_data)

def load_panel():
    social = pd.read_excel('/Users/cblanesg/misinformation_socialmedia/data/4-panel_data/newspapers/panel_newspapers.xlsx')
    return(social)

In [3]:
def missing_factchecks(panel):
    panel = panel[['id_desinformacion', 'date_factcheck_facebook_clean']].drop_duplicates()
    panel['missing_factcheck'] = np.where(pd.isna(panel['date_factcheck_facebook_clean']), 1, 0)
    panel_counts = panel.groupby(['missing_factcheck']).count()
    return(panel_counts)

In [29]:
def timeseries(panel):
    ## data of factcheck
    panel_fc = panel[['id_post', 'date_factcheck_facebook_clean']].drop_duplicates()
    panel_fc['factcheck'] = np.where(pd.isna(panel_fc['date_factcheck_facebook_clean']), 0, 1)
    panel_fc = panel_fc[['factcheck', 'id_post']]
    
    ## data of time series
    #panel = panel[abs(panel['n_days_since_factcheck']) <= 15]
    
    panel = panel[['date_timestep_clean', 'id_post']]
    panel_counts = panel.groupby(['id_post']).count().reset_index()
    
    panel_counts['dummy_timeseries'] = np.where(panel_counts['date_timestep_clean'] > 1, 1, 0)
    panel_ts = panel_counts[['id_post', 'dummy_timeseries']]  

    all_data = pd.merge(left = panel_fc, 
            right = panel_ts, 
            on = 'id_post', 
            how = 'left')
    
    counts = all_data.groupby(['dummy_timeseries', 'factcheck']).count()
    
    return(counts)

## Load data

In [6]:
newspapers = load_misinformation_newspapers()

In [20]:
panel = load_panel()

In [ ]:
panel.head()

In [30]:
timeseries(panel)

                            id_post
dummy_timeseries factcheck
0.0              1              296
1.0              1             7693

In [22]:
len(panel.id_post.unique())

40131

In [18]:
newspapers[['id_factcheck', 'id_desinformacion']].dropna().drop_duplicates()

,id_factcheck,id_desinformacion
0,07173750-ec6f-3ec1-a787-56648aaf38b5,a5288199-54c2-30e4-891f-7b079728d229
1,bff23935-cc46-34c5-8aec-47eaa46d6e3d,598e130f-d832-3f18-88c1-9cad7d1db74f
2,9396ca99-802e-3a27-949d-df0326ae85ef,af15918a-1a06-38c0-bedc-a9db9c49fa22
3,91fb0721-42c2-3b3f-95ec-09d989d45d7c,918f0972-89f1-3738-8ee2-1a6e47436eac
4,323b1921-06ed-3254-8b5e-fb79ab00b7cf,4c10c596-f3c7-3f9c-a0fd-c50026eb9703
...,...,...
2186,68cfebae-1201-388f-9a08-3e128cabefd4,3f567287-93f1-3d2b-8ffd-25d198b17ab8
2187,49d7af65-82b9-3493-a672-ed225bac8b5d,21b05bc4-4a90-3c8a-9abe-4d687757c4f6
2188,5ed4a06f-f695-3b6c-9ebe-af5cffd5b05d,0f7906d0-f6e4-3de6-806c-3f5ce130322b
2189,5c1725d5-3f40-3277-9c1b-6bfc27d21bb9,8715caa4-2a02-3987-ab98-0c8e2a934736
2190,352681e4-dff5-3dea-b07a-7a5c75875778,bf32f688-5513-3990-b1ff-4ca22c216b8e