In [15]:
import pandas as pd
import json
import numpy as np

## functions

In [9]:
def load_africa_data():
    africa = pd.read_excel('/Users/cblanesg/cam.blanes Dropbox/Camila Blanes/Bolivia_Project/data/04-fakenews-Repository/06-virality/africa/social/0-prepare_data/facebook_africa.xlsx')[['clean_link', 
    'id_post', 
    'id_desinformacion', 
    'Verdict']].rename(columns = {'clean_link':'link_desinformacion'})
    africa['link_post'] = africa.link_desinformacion
    africa['label_desinformacion'] = africa['Verdict'].apply(lambda x: clean_label(x))
    return(africa)

def clean_label(x):
    if x in ['Incorrect','Understated, exaggerated and incorrect',
            'Seven incorrect, three correct, three unproven and one mostly correct']:
        return('fake')
    elif x in ['Mostly correct',
               'A range of verdicts ranging from misleading to unproven and correct',
              'Checked', 'Misleading']:
        return('misleading')
    else:
        return('true')

def load_panel():
    social = pd.read_excel('/Users/cblanesg/misinformation_socialmedia/data/4-panel_data/social/panel_social.xlsx')
    return(social)

In [30]:
def missing_factchecks(panel):
    panel = panel[['id_desinformacion', 'date_factcheck_facebook_clean']].drop_duplicates()
    panel['missing_factcheck'] = np.where(pd.isna(panel['date_factcheck_facebook_clean']), 1, 0)
    panel_counts = panel.groupby(['missing_factcheck']).count()
    return(panel_counts)

In [62]:
def timeseries(panel):
    ## data of factcheck
    panel_fc = panel[['id_desinformacion', 'date_factcheck_facebook_clean']].drop_duplicates()
    panel_fc['factcheck'] = np.where(pd.isna(panel_fc['date_factcheck_facebook_clean']), 0, 1)
    panel_fc = panel_fc[['factcheck', 'id_desinformacion']]
    
    ## data of time series
    panel = panel[abs(panel['n_days_since_factcheck']) <= 15]
    
    panel = panel[['date_timestep_clean', 'id_desinformacion']]
    panel_counts = panel.groupby(['id_desinformacion']).count().reset_index()
    
    panel_counts['dummy_timeseries'] = np.where(panel_counts['date_timestep_clean'] > 1, 1, 0)
    panel_ts = panel_counts[['id_desinformacion', 'dummy_timeseries']]  

    all_data = pd.merge(left = panel_fc, 
            right = panel_ts, 
            on = 'id_desinformacion', 
            how = 'left')
    
    counts = all_data.groupby(['dummy_timeseries', 'factcheck']).count()
    
    return(counts)

In [60]:
timeseries(social)

                            id_desinformacion
dummy_timeseries factcheck
0                0                         78
                 1                        128
1                0                         46
                 1                         87

In [53]:
panel_counts

,id_desinformacion,date_timestep_clean,dummy_timeseries
0,01b9fab2-a803-3e87-81ae-dca6e446bc10,18,1
1,01c4f4c8-0687-336c-8e6e-d2e6e14d5dc6,1,0
2,039d77f9-4641-32ab-a5b4-6eaee8caf7f6,1,0
3,04661c46-d8b6-3332-8e52-f71efacaf296,1,0
4,04b60d11-a946-3071-95a1-5f5c2352cfb2,1,0
...,...,...,...
334,fd67b2c7-921d-3d1a-94b0-29ee480d7462,1,0
335,fe1d5241-c16f-3c3f-8d4c-8760fb865124,1,0
336,fe77a823-f615-39dc-87a1-a9170dc0a0f0,19,1
337,ff1fc678-a5fc-46a3-973d-aaf9a4d422b7,1,0
338,ff3feb3a-d3d7-3ed1-bfeb-bfb92832695e,1,0

## Load data

In [18]:
social = load_panel()

In [35]:
social[['date_timestep_clean', 'id_desinformacion']]

     date_timestep_clean                     id_desinformacion
0             2021-02-10  ba0b0a04-74ab-4e00-a01b-3ddb80269c20
1             2021-02-09  280bccba-0705-4ff2-ab7c-23009d592f46
2             2020-11-19  8bac89f4-a7e4-493b-92b0-4e396fa9c32b
3             2020-11-21  55337101-2f6b-44ad-a2e9-166a498f7687
4             2021-02-09  214810e0-fe0b-11ea-998d-acde48001122
...                  ...                                   ...
2608          2020-07-14  a5520168-e9da-3686-ad22-0a1586019645
2609          2020-07-15  a5520168-e9da-3686-ad22-0a1586019645
2610          2020-07-17  a5520168-e9da-3686-ad22-0a1586019645
2611          2020-07-18  a5520168-e9da-3686-ad22-0a1586019645
2612          2020-11-16  a5520168-e9da-3686-ad22-0a1586019645

[2613 rows x 2 columns]

In [22]:
missing_factchecks(social)

                   id_desinformacion  date_factcheck_facebook_clean
missing_factcheck
0                                215                            215
1                                124                              0

In [29]:
print('Pct of posts with no factcheck: ', 124/(124 + 215)*100, 
      '\nPct of posts with factcheck: ',215/(124 + 215)*100)

Pct of posts with no factcheck:  36.57817109144543
Pct of posts with factcheck:  63.421828908554566

In [44]:
timeseries(social)

            date_timestep_clean
timeseries
0                           206
1                           133

In [45]:
print('Pct of posts with timeseries data: ', 133/(133 + 206)*100, 
      '\nPct of posts with factcheck: ',206/(133 + 206)*100)

Pct of posts with timeseries data:  39.233038348082594
Pct of posts with factcheck:  60.766961651917406

In [61]:
social.columns

Index(['Unnamed: 0', 'source', 'id_desinformacion', 'id_post', 'id_factcheck',
       'fact_checker', 'date_partnership_facebook', 'poynter_facebook',
       'label_desinformacion', 'no_factcheck', 'no_socialmedia_factcheck',
       'date_post', 'reactions_facebook', 'shares_facebook', 'likes_facebook',
       'comments_facebook', 'date_post_clean', 'date_timestep_clean',
       'date_factcheck_facebook_clean', 'n_days_since_publicacion',
       'n_days_since_factcheck', 'observations_cumsum', 'change_likes',
       'change_comments', 'change_shares', 'change_reactions',
       'growth_rate_likes', 'growth_rate_comments', 'growth_rate_shares',
       'growth_rate_reactions'],
      dtype='object')